{% extends 'base.html' %}
{% block title %}ログイン{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p class="flash-message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="text-center my-5">
    <h2>ログイン</h2>
</div>
    <div class="mx-5">
        <form method="POST">
            <div class="mb-3">
                <label for='userName' class="form-label">ユーザ名</label>
                <input type="text" class="form-control" name="userName" id="userName"><br>
                <div class="form-text">20文字以内で入力してください。</div>
            </div>
            <div class="mb-3">
                <br><label for="password" class="form-label">パスワード</label>
                <input type="password" class="form-control" name="password" id="password"><br>
            </div>
            <div class="text-center my-5">
                <button type="submit" class="btn btn-primary w-50">ログイン</button>
            </div>
        </form>
</div>
{% endblock %}