{% extends 'navi.html' %}
{% block title %}献立一覧{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="text-center mb-4">
        <h2>献立一覧</h2>
    </div>
    {% for daily_meals in weekly_data %}
    <h4>{{ loop.index }}日目の献立</h4>
    <div class="row row-cols-4 g-4">
      {% for title, recipe_url, img_url, meal_type in daily_meals %}
      <div class="col">
        <div class="card h-100 d-flex flex-column text-center">
          <img src="{{ img_url }}" class="card-img-top" alt="{{ title }}">
          <div class="card-body d-flex flex-column">
            <p class="card-title">{{ title }}</p>
            {% if recipe_url is not none %}
            <a href="{{ recipe_url }}" class="btn btn-primary mt-auto" target="_blank" rel="noopener">レシピを見る</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div><br><br>
  {% endfor %}
    <div class="text-center my-5"><a href="/delete" role="buton" class="btn btn-success">献立を作成する</a></div>
</div>
{% endblock %}
